!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
.*
.bak/
.DS_Store
.gradle
.idea
*.bak
*.hmap
*.iml
*.ipa
*.keystore
*.log
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
*.tgz
*.xccheckout
*.xcuserstate
**/.vscode/.react/
\.buckd/
~*
android/build/
buck-out/
build/
DerivedData
local.properties
node_modules/
package-lock.json
project.xcworkspace
xcuserdata
yarn.lock
