# Almost the same as .gitignore, but for publishing or local installation
#
node_modules/
*.log
*.bak
yarn.lock
.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace
.idea
.gradle
android/build/
local.properties
*.iml
buck-out/
\.buckd/
*.keystore
# Development
.bak/
.docs/
**/.vscode/.react/
example/
*.tgz
